/* this fixed an issue on the about me page. Got rid of extra white space under navbar */
#about-header{
    margin-bottom: -25px;
    }

    .aboutMe-img {
        float:left;
        margin: 20px;
    }

    .img-thumbnail {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .firstP {
    
    }