html {
    background-image: url(assets/992-index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#name {
    background-color:rgb(78, 170, 164);
    color:white;
}
.container {
  
    float: left;
    background-color: white;
    margin: 20px;
    width: 80%; 
   
}
main section h1 {
    margin-top: 10px;
}
.img-thumbnail {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(102, 102, 102);
    color: rgb(118, 122, 126);
    clear: both;
    position:fixed;
    bottom: 0;
    left: 0; 
  }

  .copyright {
      margin-top: 10px;
  }

  
  @media screen and (max-width: 600px) {
      .container {
          margin: 10%;
      }
  }